@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300/40 rounded-lg transition duration-150;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300/60;
}

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }

  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text.shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 2px 12px;
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
